/* xs- default */

.container {
  margin: 0 10px;
}

/* s */
@media (min-width: 576px) {
  .container {
    margin: 0 10px;
  }
}

/* m */
@media (min-width: 768px) {
  .container {
    margin: 0 40px;
  }
}

/* l */
@media (min-width: 992px) {
  .container {
    width: 980px;
    margin: 0 auto;
  }
}
/* xl */
@media (min-width: 1200px) {
  .container {
    width: 1150px;
    margin: 0 auto;
  }
}
