.header__background {
  position: relative;
  width: 100%;
  height: 900px;
  background: url("../img/background_image.jpg") no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.header__first-row {
  font-family: var(--font-primary);
  font-style: normal;
  text-transform: uppercase;
}

.header__heading {
  font-size: 36px;
  margin: 0;
  color: white;
}

.header__heading-element {
  font-size: 25px;
  font-weight: 500;
}

.header__menu {
  text-align: right;
}

.header__menu-element {
  display: inline-block;
  font-size: 30px;
  padding-left: 30px;
  color: white;
  transition: transform 0.5s linear;
  will-change: transform;
}

.header__menu-element:hover {
  transform: scale(1.5);
}

.header__menu-element:active {
  color: black;
}

.header__button {
  position: absolute;
  z-index: 1;
  content: "";
  bottom: 20%;
}

.header__button:active {
  color: white;
}

.header__button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: lightgrey;
}

.header__button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: background-color 1s ease-out;
  will-change: background-color;
}

.header__button:hover::before {
  background-color: grey;
}

.header__button:active::before {
  box-shadow: none;
  background-color: var(--grey);
}

.header__phone {
  color: white;
}

.header__wrapper {
  padding-top: 35px;
}
