.main__introduction-img-position {
  display: flex;
  justify-content: space-around;
}

.main__introduction-img {
  width: 300px;
  border-radius: 50%;
}

.main__introduction-text-position {
  display: flex;
  height: 100%;
  align-items: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skils-part {
  max-width: calc(41.66666% - 20px);
  margin-bottom: 40px;
}

.skills__heading {
  font-family: var(--font-primary);
  font-size: 38px;
  font-weight: normal;
}

.skills__icon {
  padding-left: 20px;
}

.photo {
  background-color: #f3f3f3;
}

.photo-cart {
  background-color: white;
  box-shadow: 0 0 6px 0 rgba(30, 45, 62, 0.09);
  border-radius: 3px;
  width: calc(50% - 20px);
  margin-bottom: 50px;
}

.photo-cart:hover {
  box-shadow: 6px 6px 12px 6px rgba(30, 45, 62, 0.2);
}

.photo__heading {
  font-family: var(--font-primary);
  font-size: 56px;
  font-weight: normal;
  padding: 70px 0;
}

.photo-part-heading {
  font-family: var(--font-primary);
  font-size: 30px;
  font-weight: normal;
}

.photo__img {
  width: 100%;
}

.photo__desc {
  padding: 30px;
}

.photo-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo__button {
  padding: 16px 30px;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background-image: linear-gradient(-133deg, #7282eb, #74aee3);
  text-decoration: none;
}
