.main__introduction-img-position {
    display: flex;
    justify-content: space-around;
}

.main__introduction-img {
    width: 300px;
    border-radius: 50%;
}

.main__introduction-text-position {
     display: flex;
     height: 100%;
     align-items: center;
}
.main__introduction-text {
    color: black;
    font-family: var(--font-secondary);
    line-height: 36px;
    font-size: 20px;
}
