.introduction__img-position {
  display: flex;
  justify-content: space-around;
}

.introduction__img {
  width: 300px;
  border-radius: 50%;
}

.introduction__text-position {
  display: flex;
  align-items: center;
}

.introduction__heading {
  font-family: var(--font-primary);
  font-size: 38px;
  font-weight: normal;
  padding-bottom: 17px;
  text-transform: uppercase;
}

.introduction__button {
  font-family: var(--font-primary);
  font-style: normal;
  padding: 21px 21px;
  text-transform: uppercase;
  box-sizing: border-box;
  color: black;
  margin-top: 30px;
}

.introduction__button:hover {
  background-color: grey;
}

.introduction__button:active {
  background-color: var(--grey);
}

/* todo move to skills.css */
.skills__part {
  max-width: 500px;
  margin-bottom: 75px;
}

.skills__heading {
  font-family: var(--font-primary);
  font-size: 38px;
  font-weight: normal;
  padding-bottom: 37px;
  text-transform: uppercase;
}

.skills__heading_section {
  font-family: var(--font-primary);
  font-size: 38px;
  font-weight: normal;
  padding-bottom: 17px;
}

.skills__icon {
  padding-left: 5px;
  padding-bottom: 10px;
}

/* todo move to photo.css */
.photo {
  background-color: #f3f3f3;
}

.photo__card {
  display: block;
  background-color: white;
  box-shadow: 0 0 6px 0 rgba(30, 45, 62, 0.09);
  border-radius: 3px;
  margin-bottom: 50px;
}

.photo__container {
  width: 100%;
  height: 0;
  padding-top: 60%;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo__card:hover {
  box-shadow: 6px 6px 12px 6px rgba(30, 45, 62, 0.2);
}

.photo__heading {
  font-family: var(--font-primary);
  font-size: 56px;
  font-weight: normal;
  padding-top: 79px;
  padding-bottom: 40px;
}

.photo__part-heading {
  font-family: var(--font-primary);
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 10px;
}

.photo__1 {
  background-image: url("../img/arbat.jpg");
}

/* todo rename to photo__N */
.photo2 {
  background-image: url("../img/orchestra.jpg");
}

.photo3 {
  background-image: url("../img/little.JPG");
}

.photo4 {
  background-image: url("../img/violin-meeting.jpg");
}

.photo5 {
  background-image: url("../img/red2.jpg");
  background-position: 0 39%;
}

.photo6 {
  background-image: url("../img/lesson.jpg");
  background-position: 10% 26%;
}

.photo__desc {
  padding: 40px 30px 5px 30px;
  min-height: 155px;
}

.photo__button {
  display: inline-block;
  padding: 14px 30px;
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  background-image: linear-gradient(-133deg, #7282eb, #74aee3);
  text-decoration: none;
  margin-bottom: 20px;
}

.photo__p {
  line-height: 25px;
}
