.mobile__button {
  position: fixed;
  top: 10px;
  right: 2px;
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 3px;
  z-index: 3;
}

.mobile__button:hover {
  background-color: black;
}

@media (min-width: 768px) {
  .mobile__button {
    display: none;
  }
}

.mobile__button::before {
  content: "";
  position: absolute;
  padding: 0;
  width: 80%;
  height: 2px;
  background-color: white;
  top: 6px;
  left: 3px;
  box-shadow: 0 8px white, 0 16px white;
}
.mobile__button-close {
  position: fixed;
  width: 35px;
  height: 35px;
  right: 20px;
  top: 20px;
  z-index: 3;
  background-color: transparent;
}

.mobile__button-close::before {
  width: 27px;
  height: 4px;
  background-color: #74aee3;
  content: "";
  position: absolute;
  transform: rotate(45deg);
  right: 5px;
}

.mobile__button-close::after {
  width: 27px;
  height: 4px;
  background-color: #74aee3;
  content: "";
  position: absolute;
  transform: rotate(-45deg);
  right: 5px;
}
