.modal {
  max-height: 100%;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  border: 2px solid lightgray;
  overflow: auto;
  z-index: 9;
  border-radius: 5px;
  background-color: white;
}

.modal__overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.6;
  position: fixed;
  z-index: 3;
}

.modal__heading {
  font-family: var(--font-primary);
  font-size: 38px;
  font-weight: normal;
  padding-bottom: 30px;
  padding-left: 30px;
  text-transform: uppercase;
  text-align: center;
}
.modal_to-make-order {
  position: fixed;
  top: 0;
}

@media (min-width: 768px) {
  .modal_to-make-order {
    width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.modal__part {
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  .modal__part {
    margin-right: 10px;
  }
}

.modal__button-close {
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  right: 20px;
  top: 20px;
  background-color: transparent;
}

.modal__button-close::before {
  width: 27px;
  height: 4px;
  background-color: #74aee3;
  content: "";
  position: absolute;
  transform: rotate(45deg);
  right: 5px;
}

.modal__button-close::after {
  width: 27px;
  height: 4px;
  background-color: #74aee3;
  content: "";
  position: absolute;
  transform: rotate(-45deg);
  right: 5px;
}

.modal__label {
  display: block;
  line-height: 24px;
  margin-bottom: 8px;
}

.modal__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid lightgrey;
  border-radius: 3px;
  text-align: center;
}

.modal__input:hover {
  border: 2px solid black;
}

.modal__input,
.textarea {
  display: block;
  padding-left: 10px;
  box-sizing: border-box;
  outline: none;
  font-size: 19px;
  text-align: center;
  height: 50px;
}

.modal__input::placeholder {
  font-size: 14px;
  text-decoration: wavy;
  font-weight: 600;
  color: lightgrey;
}

.modal__button-send {
  margin-top: 20px;
  width: 100%;
}

@media (min-width: 576px) {
  .modal__button-send {
    width: auto;
  }
}

.modal__input_textarea {
  min-height: 80px;
}

.modal_call-me {
  position: fixed;
  top: 0;
}

@media (min-width: 768px) {
  .modal_call-me {
    width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
