.modal {
  /* max-width: 680px; */
  max-height: 100%;
  background-color: lightgray;
  padding: 35px;
  box-sizing: border-box;
  border: 2px solid lightgray;
  overflow: auto;
  z-index: 999;
}

.modal__wrapper {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
}

.modal_to-make-order {
  position: fixed;
  top: 0;
}

@media (min-width: 768px) {
  .modal_to-make-order {
    width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.modal__part {
  margin-bottom: 10px;
}

@media (min-width: 576px) {
  .modal__part {
    margin-right: 10px;
  }
}

.modal__button-close {
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  right: 5px;
  top: 10px;
  background-color: transparent;
}

.modal__button-close::before {
  width: 27px;
  height: 4px;
  background-color: red;
  content: "";
  position: absolute;
  transform: rotate(45deg);
  right: 5px;
}

.modal__button-close::after {
  width: 27px;
  height: 4px;
  background-color: red;
  content: "";
  position: absolute;
  transform: rotate(-45deg);
  right: 5px;
}

.modal__label {
  display: block;
  line-height: 24px;
  margin-bottom: 8px;
}

.modal__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
}

.modal__input,
.textarea {
  display: block;
  padding: 15px;
  box-sizing: border-box;
  outline: none;
  font-size: 13px;
}

.modal__input::placeholder {
  font-size: 14px;
  text-decoration: wavy;
  font-weight: 300;
}

.modal__button-send {
  /* wrong colors hover */
  margin-top: 20px;
  padding: 15px 55px;
  border-radius: 3px;
  width: 100%;
}

@media (min-width: 576px) {
  .modal__button-send {
    width: auto;
  }
}

.modal__input_textarea {
  min-height: 80px;
}
