.skills__container {
  margin: 25% 5%;
}

@media (min-width: 992px) {
  .skills__container {
    margin: 0 0;
  }
}

.skills__part {
  margin-bottom: 60px;
}

@media (min-width: 992px) {
  .skills__part {
    margin-bottom: 90px;
  }
}

.skills__paragraph {
  line-height: 30px;
  padding-left: 32px;
}

@media (min-width: 992px) {
  .skills__paragraph {
    line-height: 40px;
    max-width: 381px;
  }
}

@media (min-width: 1200px) {
  .skills__paragraph {
    max-width: 450px;
  }
}

.skills__heading {
  font-family: var(--font-primary);
  font-size: 38px;
  font-weight: normal;
  padding-bottom: 30px;
  padding-left: 30px;
  text-transform: uppercase;
}

.skills__heading_section {
  font-family: var(--font-primary);
  /* font-size: 38px; */
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 32px;
  line-height: 30px;
  position: relative;
}

@media (min-width: 992px) {
  .skills__heading_section {
    min-height: 72px;
    max-width: 430px;
  }
}

.skills__icon {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: -5px;
  top: 4px;
  /* padding-left: 5px;
  padding-bottom: 10px;
    height="50" for desktop */
}

@media (min-width: 768px) {
  .skills__heading_section {
    font-size: 36px;
  }

  .skills__icon {
    width: 40px;
    height: 40px;
    /* left: -16px; */
    top: -3px;
  }
}
