:root {
  --font-primary: Yanone Kaffeesatz, Arial, sans-serif;
  --font-secondary: Lato, Arial, sans-serif;
  --text-color: #fafafa;

  --background: #d7d2d2;
  --black: #27303b;
  --grey: #526173;

  --icon: #9b88c1;
}

a,
button,
button:focus,
button:active {
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  font-family: var(--font-secondary);
  line-height: 36px;
  font-size: 20px;
  line-height: 49px;
  min-width: 320px;
}

.hidden {
  display: none;
}

.button {
  font-family: var(--font-primary);
  font-style: normal;
  font-size: 20px;
  padding: 21px 21px;
  text-transform: uppercase;
  box-sizing: border-box;
  color: black;
}
