.introduction__container {
  padding: 50px 10px;
  /* not margin for anchor */
  margin-top: 50px;
  /* margin for mobile */
}

@media (min-width: 1200px) {
  .introduction__container {
    padding: 20% 0;
  }
}

.introduction__img {
  width: 50%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

@media (min-width: 992px) {
  .introduction__img {
    width: 90%;
    margin-left: 0;
    margin-right: 0;
  }
}
.introduction__paragraph {
  line-height: 30px;
}

.introduction__heading {
  font-family: var(--font-primary);
  font-size: 38px;
  font-weight: normal;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .introduction__heading {
    font-size: 44px;
    margin-bottom: 15px;
  }
  .introduction__paragraph {
    line-height: 40px;
  }
}
.introduction__button {
  position: relative;
  z-index: 1;
  content: "";
  margin-top: 30px;
}
